<div class="wrapper">
	<nav class="menu">
		<ul class="menu">
			<li> <a href="#" class="nav__item">СВАДЬБЫ и LOVE STORY</a></li>
			<li> <a href="#" class="nav__item">ЦЕНЫ</a></li>
			<li> <a href="#" class="nav__item">КОНТАКТЫ</a></li>
		</ul>
	</nav>
	<div class="banner">
		Здесь будет мой баннер, которого еще нет
	</div>

	<div class="slider">
			<div class="slider__content">
				<div class="item-slide showing">
					<%= image_tag("img1", class: "item-slide__img") %>
				</div>
				<div class="item-slide">
					<%= image_tag("img2", class: "item-slide__img") %>
				</div>
				<div class="item-slide">
					<%= image_tag("img3", class: "item-slide__img") %>
				</div>
			</div>
	</div>
	<div class="about">
		<div class="about__discription">
			Доброго времени суток! 
		</div>
		<div class="about__discription">
			Меня зовут Юля. И я рада приветствовать Вас на своем сайте.Я занимаюсь свадебной и репортажной фотосъемкой мероприятий. Приятного просмотра. Буду рада, если Вам понравятся мои работы!
		</div>
		
 		<div class="about__number">
 			тел. +375441234567
 		</div>

	</div>
	<div class="inside">   
				<div class="cell">
					<%= image_tag("img1", class: "item-slide__img") %>
				</div>
				<div class="cell cell">
					<%= image_tag("img2", class: "item-slide__img") %>
					
				</div>
				<div class="cell">
					<%= image_tag("img3", class: "item-slide__img") %>
				</div>
				<div class="cell cell">
					<%= image_tag("img2", class: "item-slide__img") %>
					
				</div>
				<div class="cell">
					<%= image_tag("img1", class: "item-slide__img") %>
				</div>
				<div class="cell">
					<%= image_tag("img1", class: "item-slide__img") %>
				</div>
				<div class="cell">
					<%= image_tag("img1", class: "item-slide__img") %>
				</div>
				<div class="cell">
					<%= image_tag("img2", class: "item-slide__img") %>
				</div>
				<div class="cell cell">
					<%= image_tag("img1", class: "item-slide__img") %>
					
				</div>
		</div>
	<div class="instagram">
		<div class="about__discription">
			Больше моих актуальных работ можно увидеть в Инстаграм

		</div>
		
 		<div class="about__number">
 			<%= link_to "@ph_jul_bond", "http://www.instagram.com/ph_jul_bond" %>
 		</div>
	</div>
	<div>
		форма для связи. наверное, есть какое-то готовое решение, ее не нашла
	</div>
	<div class="contact">
		тел. +375441234567 <br>
		example@gmail.com <br>
		VK: https://vk.com/someclub

	</div>
</div>